%b= GraderConfiguration['ui.front.welcome_message']
%br/

- if !@hidelogin
  =t 'login.message'
  %br/
  %br/

  - if flash[:notice]
    %hr/
    %b= flash[:notice]
    %hr/

  %div{ :style => "border: solid 1px #ff3300; padding: 4px; background: rgba(255, 102, 0, 0.3);"}
    = form_tag :controller => 'login', :action => 'login' do
      %table
        %tr
          %td{:align => "right"} 
            ="#{t 'login_label'}:"
          %td= text_field_tag 'login'
        %tr
          %td{:align => "right"} 
            ="#{t 'password_label'}:"
          %td= password_field_tag
      = submit_tag t('login.login_submit')
%br/

- if GraderConfiguration['system.online_registration']
  =t 'login.participation'
  %b
    = "#{t 'login.please'} "
    = link_to "#{t 'login.register'}", :controller => :users, :action => :new
  %br/
  = link_to "#{t 'login.forget_password'}", :controller => :users, :action => :forget
