- content_for :header do
  = javascript_include_tag 'local_jquery'
  = stylesheet_link_tag 'tablesorter-theme.cafe'

%script{:type=>"text/javascript"}
  $(function () {
  $('#since_datetime').datetimepicker({ showButtonPanel: true, dateFormat: "yy-mm-dd", controlType: "slider"} );
  $('#until_datetime').datetimepicker({ showButtonPanel: true, dateFormat: "yy-mm-dd", controlType: "slider"} );
  $('#my_table').tablesorter({widgets: ['zebra']});
  });
  
%h1 Score
%h2 Select contest 
= form_tag :action => 'search' do
  .submitbox
    %table
    %tr
      %td{:valign => 'top'}
        Contest :
        
        %select{:name => "contest[id]",:id => "contest_id"}
          %option{:value => ''} -
          - @user.contests.collect.each do |c| 
            %option{:value => c.id}=c.name
        
            
      = submit_tag 'Search', :name => 'by_contest'
      - if !@scorearray
        Select contest
%hr/
- if @scorearray
  %h2 #{@contest[:name]}
  %table.tablesorter-cafe#my_table
    %thead
      %tr
        %th Problem
        %th Score
    %tbody 
      - @scorearray.each do |sc|
        %tr{class: cycle('info-even','info-odd')}
          %td= sc[0]
          %td= sc[1][0]

