- content_for :header do
  = javascript_include_tag 'local_jquery'
  = stylesheet_link_tag 'tablesorter-theme.cafe'

%script{:type=>"text/javascript"}
  $(function () {
  $('#since_datetime').datetimepicker({ showButtonPanel: true, dateFormat: "yy-mm-dd", controlType: "slider"} );
  $('#until_datetime').datetimepicker({ showButtonPanel: true, dateFormat: "yy-mm-dd", controlType: "slider"} );
  $('#my_table').tablesorter({widgets: ['zebra']});
  });
  
  jQuery(function( $ ) {
  $( "#contest_id" ).change(function(sel){
  var thisvalue = $("#contest_id").find(":selected").val();
  $.getJSON('http://192.168.1.170:3000/plagiarism/get_problems/'+thisvalue,function(problems){
  console.log(problems)
  $("#problem_id").find('option').remove();
  $.each(problems,function(key, value){
  $("#problem_id").append(new Option(value.name,value.id));
  console.log(value.name)
  });
  }); 
  })
  });


  
%h1 Plagiarism
%h2 Chose contest and problem
= form_tag :action => 'check' do
  .submitbox
    %table
    %tr
      %td{:valign => 'top'}
        Contest :
        
        %select{:name => "contest[id]",:id => "contest_id"}
          %option -
          - for c in Contest.all.collect
            %option{:value => c.id}=c.title
      %td
        Problem :
        %select{:name => "problem[id]",:id => "problem_id"}
          %option -   
      = submit_tag 'Check', :name => 'check'
      
            
%hr/


- if @url
  %h2 #{@problem[:name]}
  %table.tablesorter-cafe#my_table
    %thead
      %tr
        %th User 1
        %th User 2
        %th Duplication
        %th 
    - count_match = -1
    %tbody
      - @results.each do |result|
        %tr{class: cycle('info-even','info-odd')}
          - count_match +=1
          - result.each do |match|
            %td= match[:filename].split('/')[6]
          %td= "#{result[0][:pct]}%"
          %td= link_to("View", @url+"/match#{count_match}", target: :_blank)