<h1>Chart</h1>
<%= form_tag({action: :get_data})  do %>
  <div class="submitbox">
    Contest :
    <%= select("contest","id",Contest.all.collect {|c| [c.title, c.id]}) %>
    <%= submit_tag 'Average', :name => 'average' %>
    <%= submit_tag 'Max Average', :name => 'max_average' %>
  </div>
<% end %>

<% if @scorearray != nil %>
    <% problemname = Array.new %>
    <% pointproblem = Array.new %>
    <% @problems.each do |p| %>
        <% problemname << p.name %>
        <% pointproblem << 0 %>
    <%end%>
    <% @scorearray.each do |sc| %>
        <% sc.each_index do |i| %>
          <% if @param != nil %>
            <% if sc[i][0].to_i == 100 %>
            	<% pointproblem[i] = pointproblem[i].to_i + sc[i][0].to_i %>
            <% else %>
                <% pointproblem[i] = 0 %>
            <% end %>
          <% else %>
            <% pointproblem[i] = pointproblem[i].to_i + sc[i][0].to_i %>
          <% end %>
        <% end %>
    <% end %>

<div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Level of Problems'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Point'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: 'Point Average: <b>{point.y:.1f}</b>'
    },
    colors: [
        '#ff4000'
        ],
    series: [{
        name: 'Population',
        data: [
            <% problemname.each_index do |i| %>
                ['<%= problemname[i] %>', <%= pointproblem[i+1]/@users.count %>],
            <% end %>
        ],
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});

</script>
<% end %>