<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>


<% point = Array.new %>

<% @users.each do |u| %>
	<% sub = Submission.find_last_by_user_and_problem(u.id,@problem.id) %>
	<% if (sub!=nil) and (sub.points!=nil) %>
  		<% point << [(sub.points.to_f*100/@problem.full_score).round, (sub.points>=@problem.full_score)] %>
    <% else %>
      <% point << [0,false] %>
    <% end %>
<% end %>

<% range_of_score = Array.new(11) %>
<% for i in 0..10 %>
	<% range_of_score[i] = 0 %>
<% end %>




<% point.each_index do |i| %>
	<% if point[i][0] == 0 %>
		<% range_of_score[0] = range_of_score[0] + 1 %>
	<% elsif point[i][0] >= 1 and point[i][0] <= 10 %>
		<% range_of_score[1] = range_of_score[1] + 1 %>
	<% elsif point[i][0] >= 11 and point[i][0] <= 20 %>
		<% range_of_score[2] = range_of_score[2] + 1 %>
	<% elsif point[i][0] >= 21 and point[i][0] <= 30 %>
		<% range_of_score[3] = range_of_score[3] + 1 %>
	<% elsif point[i][0] >= 31 and point[i][0] <= 40 %>
		<% range_of_score[4] = range_of_score[4] + 1 %>
	<% elsif point[i][0] >= 41 and point[i][0] <= 50 %>
		<% range_of_score[5] = range_of_score[5] + 1 %>
	<% elsif point[i][0] >= 51 and point[i][0] <= 60 %>
		<% range_of_score[6] = range_of_score[6] + 1 %>
	<% elsif point[i][0] >= 61 and point[i][0] <= 70 %>
		<% range_of_score[7] = range_of_score[7] + 1 %>
	<% elsif point[i][0] >= 71 and point[i][0] <= 80 %>
		<% range_of_score[8] = range_of_score[8] + 1 %>
	<% elsif point[i][0] >= 81 and point[i][0] <= 90 %>
		<% range_of_score[9] = range_of_score[9] + 1 %>
	<% elsif point[i][0] >= 91 and point[i][0] <= 100 %>
		<% range_of_score[10] = range_of_score[10] + 1 %>
	<% end %>
<% end %>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
	Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Range of Score'
    },
    subtitle: {
        text: '<%= @problem.name %>'
    },
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Count'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: 'Range of Score: <b>{point.y:.1f}</b>'
    },
    colors: [
        '#4cb541'
        ],
    series: [{
        name: 'Population',
        data: [ <% num = 0 %>
        	<% for i in 0..10 %>
        		['<%= num %>', <%= range_of_score[i] %>],
        		<% num = num+10 %>
        	<% end %>  
        ],
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});
</script>