- content_for :head do
  = stylesheet_link_tag 'problems'

%h1 Import problems

%p= link_to '[Back to problem list]', :action => 'list'

- if @problem and @problem.errors
  =error_messages_for 'problem'

= form_tag({:action => 'do_import'}, :multipart => true)  do
  .submitbox
    %table
      %tr
        %td Name:
        %td= text_field_tag 'name'
      %tr
        %td Full name:
        %td
          = text_field_tag 'full_name'
          %span{:class => 'help'} Leave blank to use the same value as the name above.
      %tr
        %td Testdata file:
        %td= file_field_tag 'file'
      %tr
        %td
        %td
          %span{:class => 'help'}
            In .zip, .tgz, tar.gz, .tar format.  
            It should includes inputs (e.g., 1.in, 2a.in, 2b.in) 
            and solutions (e.g., 1.sol, 2a.sol, 2b.sol).
            %br/
            You may put task description in *.html for raw html
            and *.md or *.markdown for markdown.
            %br/
            You may also put a pdf file for the task description
      %tr
        %td Checker:
        %td= select_tag 'checker', options_for_select([['Text checker','text'],['Float checker','float']], 'text')
      %tr
        %td
        %td
          %span{:class => 'help'}
            "Text" checker checks if the text (including numbers) is the same, ignoring any whitespace
            %br/
            "Float" checker checks if all numbers is within EPSILON error using formula |a-b| < EPSILON * max(|a|,|b|)

      - if @allow_test_pair_import
        %tr
          %td
          %td
            = check_box_tag 'import_to_db'
            Import test data to database (for a test-pair task)
      %tr
        %td Time limit:
        %td
          = text_field_tag 'time_limit'
          %span{:class => 'help'} In seconds. Leave blank to use 1 sec.
      %tr
        %td Memory limit:
        %td
          = text_field_tag 'memory_limit'
          %span{:class => 'help'} In MB. Leave blank to use 32MB.
      %tr
        %td Start Date
        %td
          = date_select 'start_date', 'date_added'
      %tr
        %td End Date
        %td
          = date_select 'end_date', 'date_added'
      %tr
        %td
        %td= submit_tag 'Import problem'

- if @log
  %h3 Import log
  %pre.import-log
    = @log
