

= form_tag({action: :user_stat_by_contest})  do
  .submitbox
    Contest :
    %select{:name => "contest[id]",:id => "contest_id"}
      %option{:value => ''} -
      - Contest.all.collect.each do |c| 
        %option{:value => c.id}=c.name
    = submit_tag 'Search', :name => 'by_contest'
    = submit_tag 'Download', :name => 'download'

