/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

body {
    margin-top: 100px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}
.navbar{
    background-color: #fff;
    box-shadow: 0 1px 1px 0 ;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #808080;
}

.navbar-brand{
    color: #ff3300 !important;
    font-weight: bold;
    float: none !important;
    line-height: 0px;
    padding-left: 5px;
    padding-top: 35px ;
    font-size: 22px;
    
}
.brand{
    padding-left: 5px;
    padding-top: 3px
}
.floating-box {
    display: inline-block;
    
}
.navbar-toggle {
    border-color: #555;
}

.navbar-toggle .icon-bar {
    background-color: #555 ;
}
.navbar-toggle:hover, .navbar-toggle:focus{
    background-color: #ff4000 ;
    
}
.navbar-toggle:hover>span, .navbar-toggle:focus>span {
    background-color: #fff ;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #4d4d4d;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #4d4d4d;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        color: #fff;
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        font-weight: bold;
        outline: none;
        background-color: #ff4000 ;
    }
}

.side-nav {
    background-color: #4d4d4d;
}
.side-nav .collapse li a:hover, .side-nav .collapse li a:focus,.side-nav .active>a {
    font-weight: bold; 
    background-color: #333333;
    color: #fff;
}
.side-nav li a:hover, .side-nav li a:focus, .side-nav .active>a {
    font-weight: bold;
    outline: none;
    background-color: #ff4000 ;
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;
}


