
<nav class="navbar navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="brand">
                <img class= "logo " alt="logo" width="45" class="logo" src="/assets/logo.png" /></img>
                <a class= "navbar-brand" href="index.html">CafeGrader</a>
                </div>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%=user.full_name%> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/users/index"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <% if admin_header[0] == '<' %>
                          <a href="javascript:;" data-toggle="collapse" data-target="#demo" class="collapsed" aria-expanded="false">Admin Menu <b class="caret"></b></a>                          
                            <ul id="demo" class="collapse" aria-expanded="false" style="height: 0px;">
                                <li> 
                                <a href="/messages/console">Msg console</a>
                                </li>
                                <li> 
                                <a href="/announcements">Announcements</a>
                                </li>
                                <li> 
                                <a href="/problems">Problems</a>
                                </li>
                                <li> 
                                <a href="/chart">Chart</a>
                                </li>
                                <li> 
                                <a href="/user_admin">Users</a>
                                </li>
                                <li> 
                                <a href="/user_admin/user_stat">Results</a>
                                </li>
                                <li> 
                                <a href="/plagiarism">Plagiarism</a>
                                </li>
                                <li> 
                                <a href="/report/login_stat">Report</a>
                                </li>
                                <li> 
                                <a href="/graders/list">Graders</a>
                                </li>
                                <li> 
                                <a href="/contest_management">Contests</a>
                                </li>
                                <li> 
                                <a href="/sites">Sites</a>
                                </li>
                                <li> 
                                <a href="/grader_configuration">System config</a>
                                </li>
                            </ul>
                        <%end%>
                        <li class="<%= active_class('/main/list') %>">
                          <a href='/main/list'>Main</a>
                        </li>
                        <li class="<%= active_class('/score/search') %>">
                          <a href='/score/search'>Score</a>
                        </li>
                        <li class="<%= active_class('/messages/list') %>">
                          <a href='/messages/list'>Messages</a>
                        </li>
                        <li class="<%= active_class('/tasks/list') %>">
                          <a href='/tasks/list'>Tasks</a>
                        </li>
                        <li class="<%= active_class('/main/submission') %>">
                          <a href='/main/submission'>Submission</a>
                        </li>
                        <li class="<%= active_class('/test/index') %>">
                          <a href='/test/index'>Test</a>
                        </li>
                        <li class="<%= active_class('/main/help') %>">
                          <a href='/main/help'>Help</a>
                        </li>
                    </li>
            </div>
        </nav>
