<!DOCTYPE html>
<html>
<head>
  <title><%= GraderConfiguration['contest.name'] %></title>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Rokkitt" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "jquery-ui" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "navigator" %>
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= csrf_meta_tags %>
  <%= content_for :header %>
  <%= yield :head %>

  <!-- HighChart -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <!-- End HighChart -->
</head>
<body>
<div id="wrapper">
<%= render :partial => "/layouts/nav" %>

<% if admin_header[0] == '<' %>
  <div id="page-wrapper">
  <div class = "container-fluid">
  <%= content_tag(:p,flash[:notice],:style => "color:green") if flash[:notice]!=nil %>
  <%= yield %>
  </div>
  </div>
<% else %>
  <div id="page-wrapper">
  <div class = "container-fluid">
  <%= yield %>
  </div>
  </div>
<% end %>
</div>

</body>
</html>
